<meta charset="UTF-8">
<title>Personal data time series</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/barchart.css">
<link rel="stylesheet" type="text/css" href="styles/calendar.css">
<link rel="stylesheet" type="text/css" href="styles/month-calendar.css">
<link rel="stylesheet" type="text/css" href="styles/full-calendar.css">
<link rel="stylesheet" type="text/css" href="styles/timetable.css">
<link rel="stylesheet" type="text/css" href="styles/information-panel.css">
<link rel="stylesheet" type="text/css" href="styles/annotations.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<style>
	body 	{ padding-top:10px; }
	.bar { fill: steelblue; }
</style>

<script type="text/javascript" src="d3/d3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/lodash/core.js"></script>
<script src="scripts/color-scale-legend.js"></script>

<script src="scripts/calendar.js"></script>
<script src="scripts/month-calendar.js"></script>
<script src="scripts/full-calendar.js"></script>
<script src="scripts/timetable.js"></script>
<script src="scripts/bar-chart.js"></script>
<script src="scripts/bar-chart-v2.js"></script>

<script src="scripts/barcharts/normal-bar-chart.js"></script>
<script src="scripts/barcharts/hour-bar-chart.js"></script>
<script src="scripts/barcharts/date-bar-chart.js"></script>
<script src="scripts/barcharts/grouped-bar-chart.js"></script>
<script src="scripts/barcharts/comparison-chart.js"></script>

<script src="scripts/information-panel.js"></script>

