<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <p class="nav-link" style="margin-bottom:0px; font-weight: bold">Dataset:</p>
      </li>
      <li class="nav-item">
        <select name="datasets" id="datasets" onchange="datasetChange()" class="nav-link">
            <option value="ptsd_filtered_no_single.csv">ptsd_filtered.csv</option>
            <option value="ptsd.csv">ptsd_unfiltered.csv</option>
            <option value="itch_tbc.csv">itch_tbc.csv</option>				
            <option value="itching_in_nose_tbc_newer.csv">itching_in_nose_tbc_newer.csv</option>
            <option value="symptom-simple.csv">symptom-simple.csv</option>
        </select>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  
  </nav>