<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:10px; }
	.bar { fill: steelblue; }
</style>

<script type="text/javascript" src="d3/d3.js"></script>

<script src="scripts/bar-chart.js"></script>

