<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>

<script type="text/javascript" src="d3/d3.js"></script>

<script src="scripts/axis.js"></script>
<script src="scripts/bar-chart.js"></script>
<script src="scripts/bar-chart-linear-xaxis.js"></script>
<script src="scripts/chart-timescale.js"></script>

