<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	<br>	
	<div class="row">
		<div class="col-lg-5">
			<div class="row">
				<table id="calendar"></table>
			</div>
			<div id="informationPanel">
				<p class="header">Average observations</p>
				<p class="detail" id="averageDay"></p>
				<p class="detail" id="averageWorkday"></p>
				<p class="detail" id="averagePerWeekday"></p>
				<p class="detail" id="averageHourPerWeekday"></p>
				<div id="minuteBreakdown"></div>
			</div>
		</div>
		<div class="col-lg-7">
			<table id="timetable"></table>
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
<% include ../partials/annotations %>
</html>

<script src="scripts/data-processing.js"></script>

<script type='text/javascript'>	
	var childGraphs;
	var dataset = document.getElementById("datasets");
	var event = new Event('change');
	dataset.dispatchEvent(event);

	function datasetChange() {
		var dataset = document.getElementById("datasets").value;		

		var timetable = document.getElementById("timetable");			
		while (timetable.firstChild) {
			timetable.removeChild(timetable.firstChild);
		}

		getDataset(dataset);
	}

	function getDataset(dataset) {
		annotations = [];
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var result = JSON.parse(this.responseText);
				rawData = result.data;
				for (annotation in result.annotations)
				{
					if (!(result.annotations[annotation].systemName in annotations)) {
						annotations[result.annotations[annotation].systemName] = [];
					}

					annotations[result.annotations[annotation].systemName].push({
						"comment": result.annotations[annotation].comment,
						"creationDate": result.annotations[annotation].creationDate,
						"type": result.annotations[annotation].type,
						"id": result.annotations[annotation].id
					});
				}
				
				processData();
				createVisualizations();
			}
		};
		xmlhttp.open("GET", ("/datasets/"+dataset), true);
		xmlhttp.send();
	}

	function createVisualizations() {
		var firstDate = new Date(data['firstYear'], data['firstMonth'], 1);				
		var lastDate = new Date(data['lastRecordedDay'].getMonth() === 11 ? data['lastYear']+1 : data['lastYear'], data['lastRecordedDay'].getMonth() === 11 ? 0 : (data['lastRecordedDay'].getMonth()+1), 1);

		var timetableObject = new TimeTable(data['lastRecordedDay'], calendarObject.week, data['hourByDay'], calendarObject.month, calendarObject.year, data['maxHourOfDay']);
		timetableObject.create();        

		timetableObject.informationPanel = informationPanel;
	}
</script>