<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	<br>	
	<div class="row">
		<div class="col-lg-5">
			<div class="row">
				<table id="calendar"></table>
			</div>
			<div id="informationPanel">
				<p class="header">Average observations</p>
				<p class="detail" id="averageDay"></p>
				<p class="detail" id="averageWorkday"></p>
				<p class="detail" id="averagePerWeekday"></p>
				<p class="detail" id="averageHourPerWeekday"></p>
				<div id="minuteBreakdown"></div>
			</div>
		</div>
		<div class="col-lg-7">
			<table id="timetable"></table>
			<div id="distribution"></div>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-1'></div>
		<div class=''>
			<p class="h6">Date from:</p>
		</div>
		<div class='col-sm-3'>
			<p  class="h6"id="firstDate"></p>
		</div>
		<div class=''>
				<p class="h6">Date to:</p>
			</div>
		<div class='col-sm-4'>
			<p class="h6" id="lastDate"></p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-1 graph' id='dateChart'></div>
	</div>

	<div class="row">
		<div class='col-lg-5 graph' id='dayBarChart'></div>
		<div class='col-lg-5 graph' id='hourBarChart'></div>
	</div>
	<div class="row">
		<div class='col-sm-5 graph' id='monthBarChart'></div>
		<div class='col-sm-5 graph' id='weekBarChart'></div>
	</div>
	
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
<% include ../partials/annotations %>
</html>
