<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	<br>
	<div class="row">
		<div class='col-sm-1'>
			<p class="font-weight-bolder">Dataset:</p>			
		</div>
		<div class='col-lg-2'>
			<select name="datasets" id="datasets" onchange="datasetChange()">
				<option value="itch_tbc.csv">itch_tbc.csv</option>
				<option value="ptsd.csv">ptsd.csv</option>
				<option value="itching_in_nose_tbc_newer.csv">itching_in_nose_tbc_newer.csv</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<div class="row">
				<table id="calendar"></table>
			</div>
			<div class="row" id="informationPanel">
				<p id="averageDay"></p>
				<p id="averageHourPerWeekday"></p>
			</div>
		</div>
		<div class="col-lg-5">
			<table id="timetable"></table>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-1'></div>
		<div class=''>
			<p class="h6">Date from:</p>
		</div>
		<div class='col-sm-3'>
			<p  class="h6"id="firstDate"></p>
		</div>
		<div class=''>
				<p class="h6">Date to:</p>
			</div>
		<div class='col-sm-4'>
			<p class="h6" id="lastDate"></p>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-1 graph' id='timeChart'></div>
	</div>

	<div class="row">
		<div class='col-lg-5 graph' id='dayBarChart'></div>
		<div class='col-lg-5 graph' id='hourBarChart'></div>
	</div>
	<div class="row">
			<div class='col-sm-7 graph' id='monthBarChart'></div>
		</div>

	<script>
		var childGraphs;
		var unFilteredData;
		var annotations = [];
		//2016-09-05T18:13:46.105Z
		var strictIsoParse = d3.utcParse("%Y-%m-%dT%H:%M:%S.%LZ");

		function getAnnotations(dataset) {
			annotations = [];
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var result = JSON.parse(this.responseText);

					for (annotation in result.annotations)
					{
						if (!(result.annotations[annotation].systemName in annotations)) {
							annotations[result.annotations[annotation].systemName] = [];
						}

						annotations[result.annotations[annotation].systemName].push({
							"comment": result.annotations[annotation].comment,
							"creationDate": result.annotations[annotation].creationDate,
							"type": result.annotations[annotation].type,
							"id": result.annotations[annotation].id
						});
					}
					createVisualization(dataset);
				}
			};
			xmlhttp.open("GET", ("/annotations?dataset="+dataset), true);
			xmlhttp.send();
		}

		
		function createVisualization(dataset) {
			childGraphs = [];
			data = [];
			data["byMonth"] = [];
			data["byDay"] = [];
			data['firstMonth'] = 12;
			data['lastMonth'] = 1;
			data['firstYear'] = 2030;
			data['lastYear'] = 1000;
			data['maxHourOfDay'] = 0;
			data['lastRecordedDay'] = new Date("1971-1-1");
			data['firstRecordedDay'] = new Date("2050-1-1");
			
			numberOfMonths = [];

			d3.csv("data/" + dataset, function(rawData) {
				unFilteredData = rawData;
				console.log(rawData)

				var countMonth = [];
				var countWeekday = [];
				for (var i in weekday) {
					countWeekday[weekday[i]] = 0;
				}

				var countHour = [];
				var countEachDay = [];
				var countEachHourOfEachDay = [];
				var countEachHourOfEachWeekday = [];

				for (var i=0; i<24;i++) {
					countHour[i] = 0;
				}

				for (var d in weekday) {
					countEachHourOfEachWeekday[d] = [];
					for (var i=0; i<24; i++) {
						countEachHourOfEachWeekday[d][i] = 0;
					}
				}

				for (var instance in rawData) {
					var date = Object.keys(rawData[instance])[0]
					if (date !== "date") {
						continue;
					}

					var isoDate = strictIsoParse(rawData[instance][date]);

					var currentMonth = month[isoDate.getMonth()]
					sumData(currentMonth, countMonth);

					var currentDay = weekday[isoDate.getDay()]
					sumData(currentDay, countWeekday);

					sumData(isoDate.getHours(), countHour);

					var dayOfMonth = isoDate.getFullYear() + "-" + (isoDate.getMonth()+1) + "-" + isoDate.getDate();
					if (dayOfMonth in countEachDay) {
						countEachDay[dayOfMonth]++;
					} else {
						countEachDay[dayOfMonth] = 1;					
					}

					// sum of each hour of each day
					var hourOfDay = dayOfMonth + "-" +isoDate.getHours();
					if (hourOfDay in countEachHourOfEachDay) {
						countEachHourOfEachDay[hourOfDay]++;
					} else {
						countEachHourOfEachDay[hourOfDay] = 1;
					}

					// sum of each hour of each weekday
					countEachHourOfEachWeekday[isoDate.getDay()][isoDate.getHours()]++; 

					if (isoDate > data['lastRecordedDay']) {
						data['lastRecordedDay'] = isoDate;
					}

					if (isoDate < data['firstRecordedDay']) {
						data['firstRecordedDay'] = isoDate;
					}

					if (isoDate.getFullYear() < data['firstYear']) {
						data['firstYear'] = isoDate.getFullYear();
					}
					if (isoDate.getFullYear() > data['lastYear']) {
						data['lastYear'] = isoDate.getFullYear();
					}

					if (isoDate.getFullYear() === data['firstYear']) {
						//Find first and last month
						if (isoDate.getMonth() < data["firstMonth"]) {
							data["firstMonth"] = isoDate.getMonth();
						}						
					}
					if (isoDate.getFullYear() === data['lastYear']) {
						if (isoDate.getMonth() > data["lastMonth"]) {
							data["lastMonth"] = isoDate.getMonth();
						}
					}
				}

				data['byMonth'] = createBarData(countMonth);
				data['byDay'] = createBarData(countWeekday);
				data['byHour'] = createBarData(countHour);
				data['hourByDay'] = countEachHourOfEachDay;
				data['amountOfEachWeekday'] = getCountOfEachWeekday(data['firstRecordedDay'], data['lastRecordedDay']);
				data['eachDay'] = [];

				for(var i in countEachDay) {
					data['eachDay'].push({
						"date": new Date(i),
						"sum": countEachDay[i]
					});
				}

				for (var i in countEachHourOfEachDay) {
					if (countEachHourOfEachDay[i] > data['maxHourOfDay']) {
						data['maxHourOfDay'] = countEachHourOfEachDay[i];
					}
				}

				console.log(data)
				data['mostInADay'] = d3.max(data['eachDay'],function(d) { return d.sum});
				data['averageDay'] = d3.mean(data['eachDay'],function(d) { return d.sum});

				data['totalDays'] = getNumberOfDayBetweenTwoDates(data['firstRecordedDay'], data['lastRecordedDay']);
				data['averagePerHour'] = [];
				for (var hour in countHour) {
					data['averagePerHour'][hour] = (countHour[hour]/data['totalDays']);
				}

				data["averagePerHourPerWeekday"] = [];
				for (var d in weekday) {
					data["averagePerHourPerWeekday"][d] = [];
					for (var i=0; i<24; i++) {
						data["averagePerHourPerWeekday"][d][i] = countEachHourOfEachWeekday[d][i]/data['amountOfEachWeekday'][d];
					}
				}

				var firstDate = new Date(data['firstYear'], data['firstMonth'], 1);
				var lastDate = new Date(data['lastMonth'] === 11 ? data['lastYear']+1 : data['lastYear'], data['lastMonth'] === 11 ? 0 : 11, 1);				

				var calendarObject = new Calendar(data['lastRecordedDay'], countEachDay, data['mostInADay'], data);
				calendarObject.create();

				var timetableObject = new TimeTable(data['lastRecordedDay'], calendarObject.week, data['hourByDay'], calendarObject.month, calendarObject.year, data['maxHourOfDay']);
				timetableObject.create();

				calendarObject.timeTable = timetableObject;
				timetableObject.calendar = calendarObject;

				var informationPanel = new InformationPanel(data);

				calendarObject.informationPanel = informationPanel;
				timetableObject.informationPanel = informationPanel;

				var timeChart = createBarChart(
					'timeChart', 
					data['eachDay'],
					900,
					250,
					'time',
					[firstDate, lastDate],
					'default',
					monthDiff(firstDate, lastDate),
					'time',
					3,
					"Instances per day", 
					"Day", 
					"Instances",
					false,
					true
				);

				var monthChart = createBarChart(
					'monthBarChart', 
					data['byMonth'], 
					500, 
					250,
					'band',
					data['byMonth'], 
					'default',
					-1,
					null,
					null,
					"Instances per month", 
					"Month", 
					"Instances", 
					true,
					false
				);

				var weekdayChart = createBarChart(
					'dayBarChart', 
					data['byDay'], 
					500, 
					250,
					'band',
					data['byDay'], 
					'default',
					-1,
					null,
					null,
					"Instances per weekday", 
					"Weekday", 
					"Instances", 
					true,
					false
				);
				childGraphs.push(weekdayChart);

				var hourChart = createBarChart(
					'hourBarChart', 
					data['byHour'],
					500,
					250,
					'linear',
					[0,24],
					'default',
					24,
					null,
					null,
					"Instances per hour", 
					"Hour", 
					"Instances",
					true,
					false
				);
				childGraphs.push(hourChart);

			});
		}

		function sumData(instance, sumArray) {
			if (instance in sumArray) {
				sumArray[instance]++;
			} else {
				sumArray[instance] = 1;
			}
		}

		function createBarData(countArray) {
			var barData = [];
			for (var i in countArray) {
				barData.push({
						"type": i,
						"sum": countArray[i]
				});
			}
			return barData;
		}

		function createBarChart(
			elementId, 
			data, 
			width, 
			height,
			xScaleType,
			xScaleData,
			yScaleType,
			ticksAmount,
			ticksFormat,
			bWidth,
			titleText, 
			xAxisLabel, 
			yAxisLabel, 
			mouseInfo,
			brush
		) {
			var barChart = new BarChart(
				data,
				elementId,
				width,
				height,
				xScaleType,
				xScaleData,
				yScaleType,
				ticksAmount,
				ticksFormat,
				bWidth,
				titleText,
				xAxisLabel,
				yAxisLabel,				
				mouseInfo,
				brush
			);

			barChart.create();

			return barChart;
		}		
		
		function updateChildGraphs(firstDate, lastDate) {
			setClockTo(firstDate, [0,0,0]);
			setClockTo(lastDate, [23,59,59]);
			document.getElementById("firstDate").innerHTML = weekday[firstDate.getDay()] + " " + month[firstDate.getMonth()] + " " + firstDate.getDate() + " " + firstDate.getFullYear();
			document.getElementById("lastDate").innerHTML = weekday[lastDate.getDay()] + " " + month[lastDate.getMonth()] + " " + lastDate.getDate() + " " + lastDate.getFullYear();;
			if (childGraphs.length > 0) {
				var countWeekday = [];
				var countHour = [];

				for (var i=0; i<24;i++) {
					countHour[i] = 0;
				}

				for (var instance in unFilteredData) {
					var date = Object.keys(unFilteredData[instance])[0]
					if (date !== "date") {
						continue;
					}
	
					var isoDate = strictIsoParse(unFilteredData[instance][date]);
					if (firstDate > isoDate || lastDate < isoDate) {
						continue;
					}

					var currentDay = weekday[isoDate.getDay()]
					sumData(currentDay, countWeekday);

					sumData(isoDate.getHours(), countHour);
				}
				var weekdayData = createBarData(countWeekday);
				childGraphs[0].updateGraph(weekdayData);
				var hourData = createBarData(countHour);
				childGraphs[1].updateGraph(hourData);

			}
		}


		function datasetChange() {
			var dataset = document.getElementById("datasets").value;
			  
			var graphs = document.getElementsByClassName("graph");
			for (var i in graphs) {				
				while (graphs[i].firstChild) {
					graphs[i].removeChild(graphs[i].firstChild);
				}
			}

			var calendar = document.getElementById("calendar");			
			while (calendar.firstChild) {
				calendar.removeChild(calendar.firstChild);
			}

			var timetable = document.getElementById("timetable");			
			while (timetable.firstChild) {
				timetable.removeChild(timetable.firstChild);
			}
			
			getAnnotations(dataset);
			//createVisualization(dataset);
		}

		getAnnotations('itch_tbc.csv');
		
		
	</script>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
<!-- Modal -->
<dialog id="myDialog">
	<p>Write annotation: </p>
	<textarea name="annotaition-comment" id="annotation-comment" cols="30" rows="10"></textarea>
	<input type="hidden" name="annotation-type" id="annotation-type">
	<input type="hidden" name="annotation-system-name" id="annotation-system-name">
	<br>
	<button id="saveAnnotation" onclick="saveAnnotation()">Save</button>
	<button id="closeAnnotation" onclick="closeDialog()">Cancel</button>
</dialog>

<script>
	var dialogWindow = document.getElementById("myDialog");
	function closeDialog() { 
		dialogWindow.close(); 
	}

	function saveAnnotation() { 
		var dataset = document.getElementById("datasets").value;
		var systemName = document.getElementById("annotation-system-name").value;
		var comment = document.getElementById("annotation-comment").value;
		var type = document.getElementById("annotation-type").value;
		var creationDate = new Date();

		if (systemName in annotations) {
			deleteAnnotation(annotations[systemName][0].id);
			deleteAnnotationMark(systemName, type);

			if (comment === "") {
				closeDialog();
				delete annotations[systemName];
				return;
			}
		}

		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 201) {
				closeDialog();
				var result = JSON.parse(this.responseText);
				if (systemName in annotations) {
					annotations[systemName][0].comment = comment;
					annotations[systemName][0].creationDate = creationDate;
					annotations[systemName][0].id = result.annotation.id;
				} else {
					annotations[systemName] = [];
					annotations[systemName].push({
						"comment": result.annotation.comment,
							"creationDate": result.annotation.creationDate,
							"type": result.annotation.type,
							"id": result.annotation.id
					});
				}
				
				var parentItem = null;
				if (type === "day") {
					parentItem = document.querySelector("[data-timetable-date='"+systemName+"']");
				} else {
					parentItem = document.querySelector("[data-hour-key='"+systemName+"']");
				}

				var symbol = document.createElement("i");
				symbol.className += "far fa-comment note";
				var tooltip = document.createElement("div");
				tooltip.innerHTML = comment;
				tooltip.className = "overlay";

				symbol.appendChild(tooltip);				
				parentItem.appendChild(symbol);
			}
		};
		xmlhttp.open("POST", "/annotations", true);
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.send(JSON.stringify({systemName, dataset, type, creationDate, comment}));

	} 

	function deleteAnnotation(id) {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 204) {}
		};
		xmlhttp.open("DELETE", ("/annotations/"+id), true);
		xmlhttp.send();
	}

	function deleteAnnotationMark(systemName, dateType) {
		if (dateType === 'day') {
			var day = document.querySelector("[data-timetable-date='"+systemName+"']");
			day.removeChild(day.lastChild);
		} else {
			var hour = document.querySelector("[data-hour-key='"+systemName+"']");
			hour.removeChild(hour.lastChild);
		}
	}

</script>
</html>
