<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<div class="row" id="colorScales">
		</div>
	<div class="row" id="calendarDiv">

		<table id="calendar"></table>
	</div>
	<footer>
	<br>
		<% include ../partials/footer %>
	</footer>

</body>
<% include ../partials/annotations %>
</html>

<script src="scripts/data-processing.js"></script>

<script type='text/javascript'>
	checkForChosenDataset();
	var dataset = document.getElementById("datasets");
	var event = new Event('change');
	dataset.dispatchEvent(event);

	function removeAllVisualizations() {
		var calendar = document.getElementById("calendarDiv");			
		while (calendar.firstChild) {
			calendar.removeChild(calendar.firstChild);
		}

		var colorScales = document.getElementById("colorScales");
		while (colorScales.firstChild) {
			colorScales.removeChild(colorScales.firstChild);
		}
	}

	function createVisualizations() {
		var firstDateOfYear = new Date(Date.UTC(data['firstYear'], 0, 1));
		var firstDate = new Date(Date.UTC(data['firstYear'], data['firstMonth'], 1));
		var lastDate = new Date(Date.UTC(data['lastRecordedDay'].getUTCMonth() === 11 ? data['lastYear']+1 : data['lastYear'], data['lastRecordedDay'].getUTCMonth() === 11 ? 0 : (data['lastRecordedDay'].getUTCMonth()+1), 1));

		var currentDate = new Date(Date.UTC(firstDateOfYear.getUTCFullYear(), firstDateOfYear.getUTCMonth(), 15));
		while(currentDate.getTime() < lastDate.getTime()) {
			var calendarObject = new MonthCalendar("#calendarDiv", currentDate, data['sumOfEachDay'], data['mostInADay'], data);
			calendarObject.create();
			
			if (currentDate.getTime() < firstDate.getTime()) {
				calendarObject.makeGrey();
			}
			
			currentDate = new Date(Date.UTC(
				currentDate.getUTCMonth() === 11 ? currentDate.getUTCFullYear()+1 : currentDate.getUTCFullYear(),
				currentDate.getUTCMonth() === 11 ? 0 : currentDate.getUTCMonth()+1,
				15
			));
		}

		new ColorScaleLegend(calendarObject.colorScale, "Colors indicating amount of observations from lowest to highest per DAY");
	}
</script>