#calendar {
    width: 400px;
    height: 200px;
    border-collapse: collapse;
}

#calendar tbody td {
    border: 1px solid black;
    text-align: right;
    vertical-align: top;
    width: 14%;
    font-weight: bold;
    font-size: 11px;
    font-style: italic
}

#calendar tbody td div {    
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

#calendar td.empty {
    border: none;
}

#calendar td.change-month {
    cursor: pointer;
}

#calendar td.chosen-day {
    border: 3px solid blue;
}

#calendar td.month-outside {
    color: grey;
}